<!DOCTYPE html>
<html ng-app="app">
<head>
    <link rel="stylesheet" type="text/css" href="css/joint.css"></link>
    <script type="text/javascript" src="js/joint.js" ></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
</head>
<title>Test</title>
<body>

<br>

    <div id="myholder"> </div>

    <div ng-controller="editor">
      <!-- Your name: -->
        <button ng-click='addProcess()'>Add Step</button>      <br/>  
        <button ng-click='addDstep()'>Add Decision Step</button><br/>
        <input type="text" ng-model="process1" placeholder="Process1">
         <input type="text" ng-model="process2" placeholder="Process2">
        <button ng-click='joinProcess()'>Join Process</button><br/>
         <input type="text" ng-model="rprocess" placeholder="Enter Process Number">
        <button ng-click='removeProcess()'>Remove Process</button> <br/>
         <input type="text" ng-model="textdata" placeholder="Enter Text">     
        <button ng-click='addText()'>Add Text</button>      <br/>
        <input type="text" ng-model="rtext" placeholder="Enter Text Number">     
        <button ng-click='removeText()'>Remove Text</button>  <br/>
        <button ng-click='graph_to_json()'>Create Json Object</button>  <br/>
        <button ng-click='load_graph()'>Load Graph from Json</button>  <br/>
        <input type="text" ng-model="step_number" placeholder="Enter Step Number">    
        <button ng-click='add_tasks()'>Add tasks to steps</button>  <br/>
        <button ng-click='show_list()'>Show the list</button>  <br/>
        <button ng-click='show_single()'>Single row with id 1</button>  <br/>
        <h3>Query Result </h3>
            {{result}}
        <br/>
        <h3>Single Query Result</h3>
          {{result2}}
          <br/>
        <button ng-click='add_one()'>Add a row</button>
      <hr>
    </div>

    <div id="message" />
     <!-- $('#message').text('blank!'); -->

<script>   
</script>
</body>
</html>