<!DOCTYPE html>
<html ng-app="app">
<head>
<!--
<link rel="stylesheet" href="css/joint.css" />
<script src="js/joint.js"></script>
-->


<link rel="stylesheet" type="text/css" href="css/joint.css"></link>
<script type="text/javascript" src="js/joint.js" ></script>
<script src="js/angular.min.js"></script>
<script>

</script>


</head>
<title>Test</title>

<body>

    <div id="myholder"> </div>

    <div ng-controller="MyController">
      <!-- Your name: -->
        <button ng-click='addProcess()'>Add Process</button>
        <input type="text" ng-model="process1" placeholder="Process1">
         <input type="text" ng-model="process2" placeholder="Process2">
        <button ng-click='joinProcess()'>Join Process</button>
         <input type="text" ng-model="rprocess" placeholder="Enter Process Number">
        <button ng-click='removeProcess()'>Remove Process</button> 
         <input type="text" ng-model="textdata" placeholder="Enter Text">     
        <button ng-click='addText()'>Add Text</button>      
      <hr>
    </div>

<script>
    angular.module('app', [])
      .controller('MyController', ['$scope', function($scope) {

        var graph = new joint.dia.Graph;

        var paper = new joint.dia.Paper({
            el: $('#myholder'),
            width: 1500,
            height:500,
            model: graph
        });
        var rects=[];
        var cnt = 0;
        
        $scope.addProcess = function() {
                cnt+=1;

                var rect = new joint.shapes.basic.Rect({
                    position: { x: 100, y: 30 },
                    size: { width: 100, height: 30 },
                    attrs: { rect: { fill: 'blue' }, text: { text: 'Task' + cnt, fill: 'white' } }
                });
                rects.push(rect);
                // var rect2 = rect.clone();
                // rect2.translate(300);
                graph.addCells([rect]);
                // graph.addCells([rect, rect2, link]);
        };
        $scope.joinProcess = function() {
            var link = new joint.dia.Link({
                source: { id: rects[$scope.process1].id },
                target: { id: rects[$scope.process2].id }
            });
            graph.addCells([link]);
        };
        $scope.removeProcess = function(){
            rects[$scope.rprocess].remove();
        };
        $scope.addText = function(){
            var txt = new joint.shapes.basic.Text({
                position: {x:100,y:30},
                size: { width:100 , height:30},
                attrs: {text: {text: $scope.textdata }}
            });
            graph.addCells([txt]);
        }

      }]);
</script>
</body>
</html>